### Common Module Import

In [ ]:
import numpy as np
import pandas as pd

### 23.12.16

In [3]:
a = np.array([1, 2, 3, 4, 5])
b = np.array(['한글', '영어', '일어', '불어'])
print(a, '\n', b)

[1 2 3 4 5]
 ['한글' '영어' '일어' '불어']

In [7]:
testSeries = pd.Series(data=['첫번째', '두번째', '세번째'], index=[1, 2, 3], name="순서 배열")

print(testSeries)

1    첫번째
2    두번째
3    세번째
Name: 순서 배열, dtype: object

In [10]:
testDF1 = pd.DataFrame({'a' : [1,2,3], 'b' : [4,5,6], 'c' : [7,8,9]}) # 이건 엑셀표현식이랑 유사한 듯
print(testDF1, '\n')

testDF2 = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], ['a', 'b', 'c'])
print(testDF2)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [31]:
flightData = pd.read_csv('../AICE_Data/Clean_Dataset.csv', encoding='cp949')
print('head()\n', flightData.head())
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print('info\n', flightData.info)
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print('shape\n', flightData.shape)
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print('index', flightData.index)
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print('columns\n', flightData.columns)
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print(flightData['airline'][:10])
print('++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++')
print('describe()', flightData.describe())
#flightData.to_csv('./saveTest.csv')

head()
    Unnamed: 0   airline   flight source_city departure_time stops  \
0           0  SpiceJet  SG-8709       Delhi        Evening  zero
1           1  SpiceJet  SG-8157       Delhi  Early_Morning  zero
2           2   AirAsia   I5-764       Delhi  Early_Morning  zero
3           3   Vistara   UK-995       Delhi        Morning  zero
4           4   Vistara   UK-963       Delhi        Morning  zero

    arrival_time destination_city    class  duration  days_left  price
0          Night           Mumbai  Economy      2.17          1   5953
1        Morning           Mumbai  Economy      2.33          1   5953
2  Early_Morning           Mumbai  Economy      2.17          1   5956
3      Afternoon           Mumbai  Economy      2.25          1   5955
4        Morning           Mumbai  Economy      2.33          1   5955
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
info
 <bound method DataFrame.info of         Unnamed: 0   airline   flight source_city departure_time stops  \
0                0  SpiceJet  SG-8709       Delhi        Evening  zero
1                1  SpiceJet  SG-8157       Delhi  Early_Morning  zero
2                2   AirAsia   I5-764       Delhi  Early_Morning  zero
3                3   Vistara   UK-995       Delhi        Morning  zero
4                4   Vistara   UK-963       Delhi        Morning  zero
...            ...       ...      ...         ...            ...   ...
300148      300148   Vistara   UK-822     Chennai        Morning   one
300149      300149   Vistara   UK-826     Chennai      Afternoon   one
300150      300150   Vistara   UK-832     Chennai  Early_Morning   one
300151      300151   Vistara   UK-828     Chennai  Early_Morning   one
300152      300152   Vistara   UK-822     Chennai        Morning   one

         arrival_time destination_city     class  duration  days_left  price
0               Night           Mumbai   Economy      2.17          1   5953
1             Morning           Mumbai   Economy      2.33          1   5953
2       Early_Morning           Mumbai   Economy      2.17          1   5956
3           Afternoon           Mumbai   Economy      2.25          1   5955
4             Morning           Mumbai   Economy      2.33          1   5955
...               ...              ...       ...       ...        ...    ...
300148        Evening        Hyderabad  Business     10.08         49  69265
300149          Night        Hyderabad  Business     10.42         49  77105
300150          Night        Hyderabad  Business     13.83         49  79099
300151        Evening        Hyderabad  Business     10.00         49  81585
300152        Evening        Hyderabad  Business     10.08         49  81585

[300153 rows x 12 columns]>
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
shape
 (300153, 12)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
index RangeIndex(start=0, stop=300153, step=1)
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
columns
 Index(['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
0    SpiceJet
1    SpiceJet
2     AirAsia
3     Vistara
4     Vistara
5     Vistara
6     Vistara
7     Vistara
8    GO_FIRST
9    GO_FIRST
Name: airline, dtype: object
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
describe()           Unnamed: 0       duration      days_left          price
count  300153.000000  300153.000000  300153.000000  300153.000000
mean   150076.000000      12.221021      26.004751   20889.660523
std     86646.852011       7.191997      13.561004   22697.767366
min         0.000000       0.830000       1.000000    1105.000000
25%     75038.000000       6.830000      15.000000    4783.000000
50%    150076.000000      11.250000      26.000000    7425.000000
75%    225114.000000      16.170000      38.000000   42521.000000
max    300152.000000      49.830000      49.000000  123071.000000